section {
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#first {
  margin-top: 20px;
  border-left: 5px SOLID red;
  padding: 10px;
  background-color: skyblue;
  border: 5px solid blue;
  border-radius: 10px;
  width: 300px;
  height: 500px;
}
#second {
  border-left: 5px SOLID red;
  padding: 10px;
  background-color: skyblue;
  margin-top: 20px;
  border: 5px solid blue;
  border-radius: 10px;
  width: 300px;
  height: 500px;
}
#third {
  border-left: 5px SOLID red;
  padding: 10px;
  background-color: skyblue;
  margin-top: 20px;
  border: 5px solid blue;
  border-radius: 10px;
  width: 300px;
  height: 500px;
}
/*Mobile*/
@media (max-width: 600px) {
  section {
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 100px;
  }
  #second {
    margin-top: 50px;
  }
  #first {
    margin-top: 50px;
  }
  #third {
    margin-top: 50px;
  }
  #ba {
    margin-left: 150px;
  }
  #sm {
    display: none;
  }
}
